@import 'ember-paper';

body {
	display: block;
	text-align: center;
	color: #333;
	background: #FFF;
	margin: 80px auto;
	width: 90%;
}

img {
	border: 2px solid grey;
	border-radius: 10px;
}

.pcard {
	//width: 600px;
}

table {
	width: 100%;
	border: 1px solid lightgrey;
}

.ctr {
	text-align: center;
}

.shyButton {
	font-size: 0.75em;
	text-align: center;
}

.friend-profile{
	text-align: left;
}

.friend-profile img {
	float:left;
	margin:1em 2em 1em 1em;
}

.friend-profile-links li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}