{{!H articles.index}}
<table class="primary"> 
	<thead>
		<tr>
			<th>Description</th>
			<th>Notes</th>
			<th>Borrowed since</th>
			<th colspan="2" style="text-align:center;">Options status</th>
    </tr>
  </thead>
	<tbody>
    {{#each model as |article|}}
    	{{article-row
    		article=article
    		save="save"
    		delete="delete"
    		}}
		{{else}}
			<tr>
				<td colspan="5">No articles lent out</td>
			</tr>
		{{/each}}
  </tbody>
</table>