{{!H components.article-row}}
<td>{{article.description}}</td>
<td>{{article.notes}}</td>
<td>{{moment-from-now article.createdAt interval=1000}}</td>
<td>
	{{#paper-switch checked=booleanProp}}
		{{#if booleanProp}}
		  Borrowed
		{{else}}
		  Returned
		{{/if}}
	{{/paper-switch}}
</td>
<td>{{#paper-button action="delete" param=article warn=true}}Delete{{/paper-button}}</td>